body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: grey;
}

.mainBody {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62vh;
    height: 62vh;
    flex-wrap: wrap;
    gap: 1vh;
    background-color: black;
    border: none;
  }
  
.cell {
    height: 20vh;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 230, 227);
    font-size: 10vh;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 5vh;
    height: 8vh;
    background: linear-gradient(rgb(198, 195, 149), rgb(97, 85, 85));
}

input {
    margin: 10px;
    height: 5vh;
    font-size: x-large;
    border: none;
    padding: 0px 15px;
    text-align: center;
}

.names {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.new {
    margin: 2vh;
    padding: 5px 12px;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 5px;
    font-size: large;
}

.new:hover {
    color: blue;
    font-size: larger;
}

.won {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    background-color: grey;
    height: 6vh;
    width: 62vh;
    color: grey;
}